.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 900px;
  margin: auto;
  padding: 0 10px 100px;
  justify-content: center;
  margin-top: -680px;
}

.gallery-item:last-child {
  max-width: 300px;
}

.gallery-item {
  display: flex;
  height: 240px;
  flex: 1 1 auto;
}

.gallery-header {
  height: 300px;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}
