* {
  box-sizing: border-box;
  /* border: 1px solid red; */
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}

html { scroll-behavior:smooth }

body {
  margin: 0;
  background-color: #f3f3f3;
}

h1 {
  margin: 64px auto;
  text-align: center;
  font-weight: 700;
}

p {
  font-size: 16px;
}

.blockquote {
  font-size: 16px;
  font-style: italic;
  opacity: 0.9;
  padding-left: 32px;
  margin: 32px;
  margin-left: 16px;
  border-left: 4px solid lightgray;
}

/* CONTAINERS */

.margin-container {
  margin: 0 25%;
}

.section-container {
  padding: 36px 0;
}

.card-main {
  background-color: white;
  padding: 64px;
  border-radius: 8px;
  width: 600px;
  margin: 32px auto 128px;
  /* margin-bottom: 64px; */
}

.footer {
  background-color: #333;
  color: #aaa;
  padding: 20px;
  height: 200px;
}

/* BUTTONS */

.button-main {
  padding: 12px 24px;
  background-color: #ff857a;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: 600;
}

.button-main:hover {
  background-color: #ec6155;
  color: white;
  text-decoration: none;
}

/* FORMS */

.google-form {
  margin: 0 auto;
  width: 640px;
}
